:root {
  --primary: #251478;
  --secondary: #127820;
  --tertiary: #362514;
  --light: #002ca7;
  --dark: #856825;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  background-color: rgb(68, 67, 67);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  font-family: "Lato", sans-serif;
}
/* HEADER SECTION */

.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 100vh;
  filter: grayscale(0.5);
}

.banner-text {
  position: absolute;
  top: 40%;
  color: white;
  font-family: "Lato", sans-serif;
  
  padding-left: 377px;
}
.btnn{
  margin-left: 200px;
  padding-top: 15px;
  background-color: rgb(57, 57, 235);
  color: white;
  width: 165px;
    height: 43px;
    text-align: center;
    padding-bottom: 28px;
}
.banner-text h1,
p {
  text-align: center;
  font-family: "Lato", sans-serif;
}


/* SECTION-1 */
.one {
  float: left;
  width: 25%;
  
}
.one i{
  font-size: 30px;
  color: rgb(57, 57, 235);
}
.one h3{
  margin-left: 37px;
}
.two {
  float: left;
  width: 25%;
}
.two i{
  font-size: 30px;
  color: rgb(57, 57, 235);
  
}
.two h3{
  margin-left: 45px;
}

.three {
  float: left;
  width: 25%;
}
.three i{
  font-size: 30px;
  color: rgb(57, 57, 235);
}
.three h3{
  margin-left: 40px;
}
.four {
  float: left;
  width: 25%;
}
.four i{
  font-size: 30px;
  color: rgb(57, 57, 235);
}
.four h3{
  margin-left: 50px;
}
section div {
  color: white;
}

section h4 {
  text-align: center;
  color: white;
}
section p {
  color: white;
 
}
.middle{
  padding-left: 125px;
  padding-top: 70px;
}
.middle input{
  background-color: rgb(57, 57, 235);
  padding: 5px;
  margin-left: 45px;
}
.middle i{
  
  padding-left: 80px;
}

/* SECTION-2 */

.box1 {
  float: left;
  width: 30%;
  padding: 2px;
  margin: 15px;
  height: 200px;
 
}
.box1 img{
 
    padding: 0px;
    margin: 0px;
    height: 200px;
    width: 406px;
}


.box2 {
  float: left;
  width: 30%;
  height: 200px;
  padding: 2px;
  margin: 15px;
 
}
.box2 img{
  
    padding: 0px;
    margin: 0px;
    height: 200px;
    width: 406px;
}
.box3 {
  float: left;
  width: 30%;
  padding: 2px;
  margin: 15px;
  height: 200px;
  
}
.box3 img{
  
    padding: 0px;
    margin: 0px;
    height: 200px;
    width: 406px;
}

.box1 p {
  text-align: center;
}

.box4 {
  float: left;
  width: 30%;
  padding: 2px;
  margin: 15px;
  height: 200px;
  
}
.box4 img{
 
    padding: 0px;
    margin: 0px;
    height: 200px;
    width: 406px;
}
.box5 {
  float: left;
  width: 30%;
  height: 200px;
  padding: 2px;
  margin: 15px;
  
}
.box5 img{
 
    padding: 0px;
    margin: 0px;
    height: 200px;
    width: 406px;
}
.box6 {
  float: left;
  width: 30%;
  padding: 2px;
  margin: 15px;
  height: 200px;
  
}
.box6 img{
  
    padding: 0px;
    margin: 0px;
    height: 200px;
    width: 406px;
}
section h2 {
  color: white;
  text-align: center;
}
/* SECTION-3 */

.content {
  float: left;
  padding-left: 209px;
}


.box7 {
  width: 150px;
  height: 85px;
  padding: 10px;
  margin: 20px;
  

  
}
.box7 img{
  margin-top: -10px;
  width: 165px;
  margin-left: -10px;
 
  padding-right: -42px;
}

.box8 {
  
  width: 150px;
  height: 85px;
  padding: 10px;
  margin: 20px;
  
}
.box8 img{
  margin-top: -10px;
  width: 165px;
  margin-left: -10px;
  
  padding-right: -42px;
}
.box9 {
  
  width: 150px;
  height: 85px;
  padding: 10px;
  margin: 20px;
}
.box9 img{
  margin-top: -10px;
  width: 165px;
  margin-left: -10px;
  
  padding-right: -42px;
}

/* SECTION-4 */
.box10 {
  float: left;
  width: 200px;
  height: 222px;
  margin: 10px 100px;
  padding: 50px;
 
}
.box10 img{
  width: 297px;
    height: 357px;
    margin-top: -48px;
    
    margin-left: -48px;
    margin-top: -43px;
}

/* SECTION-5 */

.container {
  display: grid;
 
}

.box11 {
  
  width: 150px;
  height: 85px;
  padding: 10px;
  margin: 20px;
  
 
}
.box11 img{
  margin-top: -17px;
  width: 165px;
  margin-left: -10px;
  
  padding-right: -42px;
}
.box12 {
  
  width: 150px;
  height: 85px;
  padding: 10px;
  margin: 20px;
  
  margin-top: 0px;
}
.box12 img{
  margin-top: -15px;
  width: 165px;
  margin-left: -10px;
  
  padding-right: -42px;
}
.box13 {
  
  width: 150px;
  height: 85px;
  padding: 10px;
  margin: 20px;
  
  margin-top: 0px;
}
.box13 img{
  margin-top: -15px;
  width: 165px;
  margin-left: -10px;
  
  padding-right: -42px;
}


/* SECTION-6 */
.big{
  text-align: center;
  color: white;
}
p{
  color: white;
}
.class-one{
  color: black;
    border: 2px solid white;
    width: 204px;
    
    padding: 11px;
    margin-left: 249px;
    background-color: white;
    float: left;
    
}
.class-two{
  color: black;
    border: 2px solid white;
    width: 204px;
    
    padding: 11px;
    margin-left: 73px;
    background-color: white;
    float: left;
    
}
.class-three{
  color: black;
    border: 2px solid white;
    width: 204px;
    
    padding: 11px;
    margin-left: 73px;
    background-color: white;
    float: left;
    
}
.para1{
  color: black;
}
.head{
  text-align: center;
  color: black;
}
.fire{
  display: inline-block;
}
.test{
  padding-left: 215px;
}

/* SECTION-7 */
.comp{
  text-align: center;
}
.para2{
  color: white;
}
.company{
  margin-top: 75px;
}
  .serv{
    padding-bottom: 30px;
  }
.btn{
  padding-top: 20px;
}



/* SECTION-8 */


.red1{
  background-color: rgb(196, 32, 32);
  height: 40px;
  margin-top: 33px;
  padding-top: 18px;
}

/* SECTION-9 */


.footer{
  
  display: inline-block;

}

.foot1{
   float: left;
  display: inline-block;
  margin-left: 141px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.foot2{
  float:left;
  display: inline-block;
  margin-left: 237px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.foot3{
  float:left;
  display: inline-block;
   margin-left: 311px;
   font-weight: bold;
   color: white;
   text-align: center;
}
.foot1 a {
  text-decoration: none;

}
.foot2 a {
  text-decoration: none;

}
.foot1 h2{
  text-align: center;
}
  .foot2 h2{
    text-align: center;
  }

.fab{
  color: rgb(57, 57, 235);
}
.icon a{
  width: 31px;
  height: 40px;
  display: inline-block;
}
.footer-bottom{
  padding-top: 40px;
}